@import '~bootstrap/scss/bootstrap';

body {
  align-items: center;
}

p {
  margin-bottom: 0px;
}

.row {
  display: flex;
  justify-content: center;
}

.first-column {
  border-width: 0.2em;
  border-style: solid;
  box-shadow: 0 4px 8px 0 grey;
  h1 {
    text-align: center;
  }

}

.second-column {
  border-style: solid;
  border-width: 0.1em;
  margin-left: 0.2em;
  height: 150px;
  position: fixed;
  right: 0;

  .image-cropper {
    height: 100%;
    position: relative;
    text-align: center;

  }

    .image {
      display: inline-block;
      margin: auto auto;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-size: cover;
      background: center no-repeat;
      transform: translateY(70%);
    }

  .image img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    bottom: 75%;
    opacity: 0;
    pointer-events: none;
    transition-duration: 800ms;

  }

  .image:hover img {
    opacity: 1;
    transition-duration: 400ms;

  }
}